@model ShopBuy7.Models.Banner

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Banner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        </div>
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="WebImgUrl" class="control-label"></label>
                <input asp-for="WebImage" accept="Image/*" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MobileImgUrl" class="control-label"></label>
                <input asp-for="MobileImage" accept="Image/*" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LandingLink" class="control-label"></label>
                <input asp-for="LandingLink" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="BannerType" class="control-label"></label>
                <select asp-for="BannerType" class="form-control">
                    <option value="h">Home Page Banner</option>
                    <option value="p">Product Detail Banner</option>
                    <option value="l">Home Page Left Banner</option>
                </select>
                <span asp-validation-for="BannerType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
