@model ShopBuy7.Models.Deal

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Deal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        </div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DealId" />
            <input type="hidden" asp-for="DateAdded" class="form-control" />
            <div class="form-group">
                <label class="control-label">Products</label>
                <select asp-for="FkProductId" class="form-control">
                    @foreach (var product in ViewBag.products)
                    {
                        <option value="@product.ProductId">@product.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryDateTime" class="control-label"></label>
                <input asp-for="ExpiryDateTime" class="form-control" />
                <span asp-validation-for="ExpiryDateTime" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
